@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
    /* Global variables and dark mode inlines */
    :root {
        --background: 168 29% 97%;
        --foreground: 240 6% 25%;
        --card: var(--background);
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 176 100% 43%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: var(--secondary);
        --muted-foreground: 240 3.8% 46.1%;
        --accent: var(--secondary);
        --accent-foreground: var(--secondary-foreground);
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        /* Radius */
        --radius: 0.5rem;
        /* Brand Logo colors */
        --microsoft-grey: 0 0% 45%;
        --github-green: 132 59% 33%;
        --gitlab-orange: 20 97% 57%;
        --zoom-blue: 213 100% 59%;
        /* Meeting BaaS brand colors */
        --baas-neutral-400: 0 0% 35%;
        --baas-neutral-500: 173 8% 22%;
        --baas-warning-500: 60 100% 79%;
        --baas-black: 0 0% 14%;
    }

    .dark {
        --background: 0 0% 17%;
        --foreground: 0 0% 100%;
        --card: var(--background);
        --card-foreground: var(--foreground);
        --popover: var(--background);
        --popover-foreground: var(--foreground);
        --primary: 176 100% 43%;
        --primary-foreground: 213 16% 27%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: var(--foreground);
        --muted: 173 8% 22%;
        --muted-foreground: 0 0% 65%;
        --accent: 173 8% 22%;
        --accent-foreground: var(--foreground);
        --destructive: 60 100% 79%;
        --border: 173 8% 22%;
        --input: 173 8% 22%;
        --ring: 197 100% 44%;
    }

    /* Universal reset and base styles */
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    /* Selection styling */
    ::selection {
        background-color: hsl(var(--accent));
        color: hsl(var(--foreground));
    }
}

@media (prefers-reduced-motion: no-preference) {
    @supports (view-transition-name: none) {
        ::view-transition-new(theme-transition) {
            clip-path: inset(0 0 100% 0);
            animation: slide-in-from-top 0.65s forwards cubic-bezier(0.65, 0, 0.35, 1);
        }

        ::view-transition-old(theme-transition) {
            animation: none;
        }

        @keyframes slide-in-from-top {
            to {
                clip-path: inset(0 0 0 0);
            }
        }
    }
}

@media (pointer: coarse) {
    .pointer-touch-invisible {
        visibility: hidden;
    }

    .pointer-touch-visible {
        visibility: visible;
    }
}
